body {
  text-align: center;
}

.container {

}

.section {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  vertical-align: top;
}

.form p{
  margin-top: 5px;
  margin-bottom: 0;
}

.form span{
  margin-right: 10px;
}

.button{
  margin-top: 5px;
}
