body{
  background-image: url('Pictures/funky-lines.png');
  font-family: 'Bungee Inline', cursive;
  margin: 0px 0px;
}

.title{
  background-color: #e7e042;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Bungee Inline', cursive;
  font-size: 25px;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 50px;
}

#hide{
  color: #e7e042;
}

.blueline{
  background-color:	#284fb6;
  color: 	#284fb6;
  margin-left: 10%;
  margin-right: 10%;
}

.blueline p{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 5px;
  font-size: 1px;
}

u{
  text-decoration: none;
  border-bottom: 3px solid #e7e042;
}

body{
  text-align: center;
}

table{
  border-collapse: collapse;
  border: 1px solid #000;
}

.info:hover {
  background-color: #e7e042;
}

td{
  border: 1px solid #000;
  font-size: 15px;
  width: 300px;
  background-color: #f2f2f2;
}

.header{
  background-color: #284fb6;
  color: 	#f2f2f2;
  width: 150px;
  height: 45px;
}

.display{
  text-align: center;
}

#team{
  margin: 0 auto;
}

.section{
  display: inline-block;
  margin-left: 70px;
}

.section{
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

td{
  padding-top: 0px;
  padding-bottom: 0px;
  height: 23px;
  margin: 0 0;
}

#container{
  margin: 0px auto;
}

.green{
  color: #00d27f;
}

input[type="submit"] {
    background-color: #f5f5f5;
    width: 109px; /* width of image */
    height: 22px; /* height of image */
    border: 0;
    font-family: 'Bungee Inline' ;
    margin: 0 0;
}

input[type="submit"]{
    background-color:#00d27f;
}

input[type='text']{
  font-family: 'Bungee Inline' ;
  font-size: 13px;
}

a{
  background-color: #00d27f;
   color: black;
   text-decoration: none;
   padding: 5px 5px;
}

.title p{
  font-size: 20px;
  margin: 0 0;
}

.goalies{
  margin: 0 auto;
}

.header td{
  background-color: #284fb6;
  color: #f2f2f2;
  padding-bottom: 5px;
}

h4{
  font-size: 40px;
  margin: 10px 0px;
}

h4 u{
  text-decoration: none;
  border-bottom: 3px solid #284fb6;
}

#logout{
  background-color: #e03c3c;
  position: absolute;
  float: right;
  right: 10%;
  top: 16%;
}

.question{
  font-size: 23px;
}

.question u{
  text-decoration: none;
  border-bottom: 3px solid #284fb6;
}

.section p{
  font-size: 23px;
}
