@import url(https://fonts.google.com/specimen/Righteous?selection.family=Righteous);
@import url(https://fonts.google.com/specimen/Bungee+Inline?selection.family=Bungee+Inline);

body {
  text-align: center;
  background-image: url("Pictures/HomePageBackGround.jpg");
  background-size: 100% auto;
  margin: 0px 0px;
    font-family: 'Bungee Inline', cursive;
}

.title{
  background-color: #e7e042;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Bungee Inline', cursive;
  font-size: 25px;
}

u{
  text-decoration: none;
    border-bottom: 3px solid black;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 50px;
}

#hide{
  color: #e7e042;
}

.blueline{
  background-color:	#284fb6;
  color: 	#284fb6;
  margin-left: 10%;
  margin-right: 10%;
}

.blueline p{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 5px;
  font-size: 1px;
}

.pinkline{
  background-color: #f595f6;
  color: #f595f6;
  margin-left: 10%;
  margin-right: 10%;
}

.pinkline p{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 5px;
  font-size: 1px;
}

#footer .pinkline{
  margin-left: 0;
  margin-right: 0;
}

#footer .blueline{
  margin-left: 0;
  margin-right: 0;
}

#footer .title{
  margin-left: 0;
  margin-right: 0;
}

#footer{
  bottom: 0;
  position: fixed;
  width: 80%;
  margin-left: 10%;
}

.section {
  margin-top: 35px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  vertical-align: top;
  background-color: rgba(44,186,227);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.form p{
  margin-top: 5px;
  margin-bottom: 0;
  opacity: 1;
}

.form span{
  margin-right: 10px;
}

.button{
  margin-top: 5px;

}

.error{
  background-color: 	#e03c3c;
  width: 40%;
  margin: 30px auto;
  line-height: 40px;
}

.pass{
  padding: 16px 16px;
  width: 30%;
  margin: 30px auto;
  background-color: rgba(44,186,227);
}
