body {
  text-align: center;
  background-image: url("Pictures/HomePageBackGround.jpg");
  background-size: 100% auto;
  margin: 0px 0px;
  font-family: 'Bungee Inline', cursive;
}

.title{
  background-color: #e7e042;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Bungee Inline', cursive;
  font-size: 25px;
}

u{
  text-decoration: none;
  border-bottom: 3px solid #e7e042;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 50px;
}

#hide{
  color: #e7e042;
}

.blueline{
  background-color:	#284fb6;
  color: 	#284fb6;
  margin-left: 10%;
  margin-right: 10%;
}

.blueline p{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 5px;
  font-size: 1px;
}

#footer .pinkline{
  margin-left: 0;
  margin-right: 0;
}

.section {
  font-size: 15px;
  margin-top: 70px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  vertical-align: top;
  background-color: #284fb6;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  color: #f2f2f2;
}

.form p{
  margin-top: 5px;
  margin-bottom: 0;
  opacity: 1;
}

.form span{
  margin-right: 10px;
}

.button{
  margin-top: 5px;

}

.error{
  background-color: #e03c3c;
  width: 40%;
  margin: 30px auto;
  line-height: 40px;
}

.pass{
  padding: 16px 16px;
  width: 30%;
  margin: 30px auto;
  background-color: #284fb6;
  color: #f2f2f2;
}

input[type="submit"] {
    background-color: #e7e042;
    width: 125px; /* width of image */
    height: 25px; /* height of image */
    border: 0;
    font-family: 'Bungee Inline' ;
}

.green{
  color: #00d27f;
}

a{
  background-color: #00d27f;
   color: black;
   text-decoration: none;
   padding: 5px 5px;
}

input[type='text']{
  font-family: 'Bungee Inline' ;
  font-size: 15px;
}

.title p{
  font-size: 20px;
  margin: 0 0;
}
