body{
  text-align: center;
}


thead tr{
  display: block;
  background-color: #009AFF;
}


table{
  border-collapse: collapse;
  border: 1px solid #000;
}

tbody {
  display: block;
  overflow-y: auto;
}

tbody tr:hover {
  background-color: #00d27f;
}

tr{
  background-color: #f5f5f5;
  border: 1px solid #000;
}

td{
  border: 1px solid #000;
}

#undrafted{
  margin-right: 10px;
}

#undrafted tbody{
  max-height: 400px;
}

#drafted{
  margin-left: 10px;
}

.draft_table{
  display: inline-block;
}

.playerInfo td{
  padding-top: 0px;
  padding-bottom: 0px;
}

.playerInfo form{
  margin-bottom: 0px;
}

#container{
  margin: 0px auto;
}

.cap_num{
  text-align: center;
  width: 75px;
}

.name{
  text-align: center;
  width: 200px;
}

.team{
  text-align: center;
  width: 200px;
}

.position{
  text-align: center;
  width: 100px;
}
